<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Witamy w bibliotece!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application.css" %>
</head>
<body>

<!-- Navbar -->
<div class="top">
  <div class="bar color-granat ">
    <%= button_to "Strona główna", root_path, :method => :get, class: "bar-item button padding-large" %>
    <% if current_user %>
      <%= button_to "Panel użytkownika", panel_path, :method => :get, class: "bar-item button padding-large" %>
      <% if current_user.approved == "true" %>
        <%= button_to "Lista książek", list_path, :method => :get, class: "bar-item button padding-large " %>
        <% if current_user.role == "Bibliotekarz" %>
        <%= button_to "Uzytkownicy wypożyczający", return_path, :method => :get, class: "bar-item button padding-large " %>
        <% end %> 
      <% end %>
      <%= link_to "Wyloguj", destroy_user_session_path, 'data-turbo-method': :delete, class: "bar-item button padding-large right" %>
    <% else %>
      <%= button_to "Zarejestruj się!", new_user_registration_path, :method => :get, class: "bar-item button padding-large right" %>
      <%= button_to "Zaloguj", new_user_session_path, class: "bar-item button padding-large right" %>
    <% end %>
  </div>
</div>


<!-- Page content -->
<div class="content" style="max-width:2000px;margin-top:46px">
  <!-- Welcome Section -->
  <div class="container content center" style="max-width:2000px;margin-top:46px"><h1><b>Witamy w bibliotece</b></h1></div>
  <!-- Banner -->
  <div class="centered-image-container">
    <%= image_tag("big_banner.png", alt: "Big Banner", class: "centered-image") %>
  </div>

  <div class="container content padding-large" style="max-width:800px">
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if current_user %>
      <% if @upcoming_due_dates.any? %>
        <div class="upcoming-due-dates">
          <h3>Zbliżające się terminy oddania:</h3>
          <ul>
            <% @upcoming_due_dates.each do |copy_id, borrowings| %>
              <li>
                <strong>ID Kopii: <%= copy_id %></strong>
                <br>
                <ul>
                  <% borrowings.each do |borrowing| %>
                    <li>
                      Data do zwrotu: <%= borrowing.due_date %>
                      <br>
                      <% if (borrowing.due_date - Date.today).to_i > 0 %>
                        Dni pozostałe: <%= (borrowing.due_date - Date.today).to_i %>
                      <% else %>
                        Należność za zwłokę z oddaniem: <%= (borrowing.due_date - Date.today).to_i * 10 *(-1) %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

</body>
</html>
