<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Witamy w bibliotece!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application.css" %>
  
    <script defer>
      document.addEventListener('DOMContentLoaded', function() {
        var borrowDateField = document.getElementById('borrow_date');
        var dueDateField = document.getElementById('due_date');

        borrowDateField.addEventListener('change', function() {
          var selectedDate = new Date(borrowDateField.value);
          var maxDueDate = new Date(selectedDate.getTime() + (14 * 24 * 60 * 60 * 1000)); // Dodaj 14 dni w milisekundach

          dueDateField.setAttribute('min', borrowDateField.value);
          dueDateField.setAttribute('max', maxDueDate.toISOString().split('T')[0]);

          // Ustawienie daty zwrotu na datę wypożyczenia
          dueDateField.value = borrowDateField.value;
        });
      });
    </script>
</head>
<body>

<!-- Navbar -->
<div class="top">
  <div class="bar color-granat ">
     <%= button_to "Strona główna", root_path, :method => :get, class: "bar-item button padding-large" %>
    <% if current_user %>
      <%= button_to "Panel użytkownika", panel_path, :method => :get, class: "bar-item button padding-large" %>
      <% if current_user.approved == "true" %>
        <%= button_to "Lista książek", list_path, :method => :get, class: "bar-item button padding-large " %>
        <a href="/books/<%= @book.id %>" class="bar-item button padding-large" >Cofnij</a>
      <% end %>
      <%= link_to "Wyloguj", destroy_user_session_path, 'data-turbo-method': :delete, class: "bar-item button padding-large right" %>
    <% else %>
      <%= button_to "Zarejestruj się!", new_user_registration_path, :method => :get, class: "bar-item button padding-large right" %>
      <%= button_to "Zaloguj", new_user_session_path, class: "bar-item button padding-large right" %>
    <% end %>
  </div>
</div>
<div class="content" style="max-width:2000px;margin-top:46px">
  <div class="container content padding-large" style="max-width:800px">
      <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
       <div class="container content center" style="max-width:2000px;margin-top:46px"><h1><b>Wypożycz książkę</b></h1></div>

      <%= form_with model: @borrowing, url: create_borrowing_path(book_id: @book.id, copy_id: @copy.id), method: :post do |form| %>
        <%= form.hidden_field :copy_id, value: @copy.id %>
          <h2 class = "bold" >Książka:</h2>
        <ul><b>Tytuł:</b> <%= @book.title%></ul>
        <ul><b>Autor:</b> <%= @book.author%></ul>
        <ul><b>Gatunek:</b> <%= @book.genre%></ul>
        <ul><b>Numer ISBN:</b> <%= @book.isbn%></ul>
        <ul><b>Opis tytułu:</b></ul>
        <div>
          <%= @book.description%>
        </div>
        <div>
          <%= form.label :borrow_date, 'Data wypożyczenia', class: "bold" %>
          <%= form.date_field :borrow_date, required: true, min: Date.today, max: (Date.today + 14.days), value: Date.today, id: 'borrow_date' %>
        </div>
        <br/>
        <div>
          <%= form.label :due_date, 'Data zwrotu', class: "bold" %>
          <%= form.date_field :due_date, required: true, min: Date.today, max: (Date.today + 14.days), value: Date.today, id: 'due_date' %>
        </div><br/>

        <%= form.submit 'Wypożycz', form_class: 'form', class: 'button' %>
      <% end %>

    <br>


</body>