<html>
<head>
<style>
  body {
    background-color: #E6E6FA;
  }

  .button {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
  }

  .button:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
  }

  .borrowed-books {
    width: 50%;
    float: left;
  }

  .returned-books {
    width: 50%;
    float: right;
  }
</style>
</head>
<body>

  <p><%= link_to "Lista książek", list_path, class: "button" %></p>
  <p><%= link_to "Strona główna", root_path, class: "button" %></p>
  <h2>Wypożyczone książki</h2>

  <div class="borrowed-books">
    <h3>Nieoddane książki:</h3>
    <% @users_and_borrowed_books.each do |user| %>
      <% user.borrowings.each do |borrowing| %>
        <% if !borrowing.returned %>
          <ul>
            <li>
              <strong>Tytuł: <%= borrowing.copy.book.title %></strong>
              <br>
              <strong>ID: <%= borrowing.copy.id%></strong>
              <br>
              Data wypożyczenia: <%= borrowing.borrow_date %>
              <br>
              Data do zwrotu: <%= borrowing.due_date %>
              <br>
              <%= link_to "Oddaj", return_book_borrowing_path(borrowing, copy_id: borrowing.copy.id), method: :put, class: "button" %>
            </li>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="returned-books">
    <h3>Oddane książki:</h3>
    <% @users_and_borrowed_books.each do |user| %>
      <% user.borrowings.each do |borrowing| %>
        <% if borrowing.returned %>
          <ul>
            <li>
              <strong>Tytuł: <%= borrowing.copy.book.title %></strong>
              <br>
              <strong>ID: <%= borrowing.copy.id%></strong>
              <br>
              Data wypożyczenia: <%= borrowing.borrow_date %>
              <br>
              Data do zwrotu: <%= borrowing.due_date %>
              <br>
              Książka zwrócona
            </li>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </div>

</body>
</html>
