<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application.css" %>

</head>
<body>
<!-- Navbar -->
<div class="top">
  <div class="bar color-granat ">
     <%= button_to "Strona główna", root_path, :method => :get, class: "bar-item button padding-large" %>
    <% if current_user %>
      <%= button_to "Panel użytkownika", panel_path, :method => :get, class: "bar-item button padding-large" %>
      <% if current_user.approved == "true" %>
        <%= button_to "Moje wypożyczenia", user_borrowing_path, :method => :get, class: "bar-item button padding-large " %>
        <%= button_to "Moje rezerwacje", user_reservations_path, :method => :get, class: "bar-item button padding-large " %>
        <% if current_user.role == "Bibliotekarz" %>
        <%= button_to "Uzytkownicy wypożyczający", return_path, :method => :get, class: "bar-item button padding-large " %>
        <% end %> 
        <% if current_user.role != "Użytkownik" %>
          <%= button_to "Dodaj książkę", newbook_path, :method => :get, class: "bar-item button padding-large " %>
        <% end %> 
      <% end %>
      <%= link_to "Wyloguj", destroy_user_session_path, 'data-turbo-method': :delete, class: "bar-item button padding-large right" %>
    <% else %>
      <%= button_to "Zarejestruj się!", new_user_registration_path, :method => :get, class: "bar-item button padding-large right" %>
      <%= button_to "Zaloguj", new_user_session_path, class: "bar-item button padding-large right" %>
    <% end %>
  </div>
</div>
<div class="content" style="max-width:2000px;margin-top:46px">
  <div class="container content center" style="max-width:2000px;margin-top:46px"><h1><b>Szukaj</b></h1></div>
    
    <div class="input-group center">
      <%= form_tag(search_path, :method => "get") do %>
        <%= search_field_tag :search, params[:search], placeholder: "Znajdź książkę ", class: "form-control" %>
        <div class="margin-top">
          <%= button_tag "Szukaj", :class => 'button', 
          :title => nil%>
        </div>
      <% end %>
    </div>
    
    <div class="container content padding-large" style="max-width:800px">  
      <h1 class="bold" >Książki:</h1>
      <table style="border-collapse: separate; border-spacing: 10px;">
        <thead>
          <tr>
            <th style="border-bottom: 2px solid black;">Tytuł</th>
            <th style="border-bottom: 2px solid black;">Autor</th>
            <th style="border-bottom: 2px solid black;">Gatunek</th>
            <th style="border-bottom: 2px solid black;">Średnia ocena</th>
          </tr>
        </thead>
        <tbody>
          <% @books.order(:title).each do |book| %>
            <tr>
              <td style="border-bottom: 1px solid black;">
                <a href="/books/<%= book.id %>", class = "brick">
                  <%= book.title %>
                </a>
              </td>
              <td style="border-bottom: 1px solid black;">
                <%= book.author %>
              </td>
              <td style="border-bottom: 1px solid black;">
                <%= book.genre %>
              </td>
              <td style="border-bottom: 1px solid black; text-align: center;">
                <% if book.reviews.present? %>
                  <% average_rating = book.reviews.average(:rating) %>
                  <strong><%= average_rating %></strong>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

  <% if flash[:alert].present? %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

</body>

