<html>
<head>
<style>
body {
  background-color: #E6E6FA;
}
</style>
</head>
<body>
  

  

<p><%= button_to "Lista książek", list_path, :method => :get %></p>
<p><%= button_to "Strona główna", root_path, :method => :get %></p>
<h2>Książka:</h2>
<ul>Tytuł: <%= @book.title%></ul>
<ul>Autor: <%= @book.author%></ul>
<ul>Gatunek: <%= @book.genre%></ul>
<ul>Numer ISBN: <%= @book.isbn%></ul>
<ul>Ilość kopii: <%= @book.copies.count %></ul>
<ul>Opis tytułu:</ul>
<div>
   <%= @book.description%>
</div>
<% if current_user.role != "Użytkownik" %>
   <h2>Dodaj kopię książki:</h2>
  <%= form_with model: [ @book, @book.copies.build ] do |form| %>
      <p>
        <%= form.submit "Dodaj kopię" %>
      </p>
  <% end %>
<% end %>




<% if @book.copies.any? %>
  <h1>Kopie książki:</h1>
  <table style="border-collapse: separate; border-spacing: 10px;">
    <thead>
      <tr>
        <th style="border-bottom: 2px solid black;">ID ksiązki</th>
        <th style="border-bottom: 2px solid black;">ID kopii</th>
      </tr>
    </thead>
    <tbody>
      <% @book.copies.each do |copy|%>
      <% if copy.persisted? %>
        <tr>
          <td style="border-bottom: 1px solid black;">
            <%= copy.book_id %>
          </td>
          <td style="border-bottom: 1px solid black;">
            <%= copy.id %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>


</body>
