<html>
<head>
<style>
body {
  background-color: #E6E6FA;
}
.red-box {
  background: red;
  background: var(--red-color, red);
  height: 18px;
  width: 90px;
  color: orange; 
  font-weight: bold; 
}
.green-box {
  background: green;
  background: var(--green-color, green);
  height: 18px;
  width: 70px;
  color: yellow; 
  font-weight: bold; 
}
</style>
</head>
<body>
  

  

<p><%= button_to "Lista książek", list_path, :method => :get %></p>
<p><%= button_to "Strona główna", root_path, :method => :get %></p>
<h2>Książka:</h2>
<ul>Tytuł: <%= @book.title%></ul>
<ul>Autor: <%= @book.author%></ul>
<ul>Gatunek: <%= @book.genre%></ul>
<ul>Numer ISBN: <%= @book.isbn%></ul>
<ul>Opis tytułu:</ul>
<div>
   <%= @book.description%>
</div>
<% if current_user.role != "Użytkownik" %>
   <h2>Dodaj kopię książki:</h2>
  <%= form_with model: [ @book, @book.copies.build ] do |form| %>
      <p>
        <%= form.submit "Dodaj kopię" %>
      </p>
  <% end %>
<% end %>
<% if @book.copies.any? %>
  <h2>Kopie książki:</h2>
  <% @book.copies.each do |copy| %>
    <% if copy.persisted? %>
      <p>
        <strong>ID książki:</strong>
        <%= copy.book_id %>
      </p>
      <p>
        <strong>ID kopii:</strong>
        <%= copy.id %>
      </p>
      <p>
        <strong>Dostępność:</strong>
        <% if copy.borrowed %>
          <div class="red-box"><center>Niedostępna</center></div>
        <% else %>
          <div class="green-box"><center>Dostępna</center></div>
          <%=@book.id%>
          <%= link_to "Wypożycz", borrow_path(book_id: @book.id, copy_id: copy.id) %>
        <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>


</body>
