<html>
<head>
<style>
body {
  background-color: #E6E6FA;
}

.red-box {
  background: red;
  background: var(--red-color, red);
  height: 18px;
  width: 70px;
  color: orange; 
  font-weight: bold; 
}
.green-box {
  background: green;
  background: var(--green-color, green);
  height: 18px;
  width: 70px;
  color: yellow; 
  font-weight: bold; 
}

a:link, a:visited
 {
  background-color: #a5f76a;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active 
{
  color: black;
  background-color: #f55546;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

</style>
</head>
<body>
  

  

<p><%= button_to "Lista książek", list_path, :method => :get %></p>
<p><%= button_to "Strona główna", root_path, :method => :get %></p>

<% if current_user.role != "Użytkownik" %>
   <p><%= button_to "Edytuj książkę", edit_book_path(@book), :method => :get %></p>
   <p> <form action="<%= show_path %>" method="post" data-turbo-method="delete" data-turbo-confirm="Czy jesteś pewien?">
   <input type="hidden" name="_method" value="delete">
   <input type="submit" value="Usuń książkę"></p>
</form>
<% end %>

<% if @book.copies.all?(&:borrowed) && !@book.copies.joins(:borrowings).exists?(borrowings: { returned: false, user_id: current_user.id })%>
  <% if !current_user.reservations.exists?(book_id: @book.id, reservation_completed: false) %>
    <%= form_with(model: @reservation, url: reserve_book_path(@book)) do |form| %>
    <%= form.hidden_field :book_id, value: @book.id %>
    <%= form.submit "Zarezerwuj książkę" %>
  <% end %>
  <% end %>
  <% if current_user.reservations.exists?(book_id: @book.id, reservation_completed: false)%>
  <%= form_with(model: @reservation, url: cancel_reservation_path(@book.reservations.find_by(user_id: current_user.id)),
    method: :delete, 
    data: { turbo_confirm: "Czy jesteś pewien?" }) do |form| %>
  <%= form.submit "Anuluj rezerwację" %>
  <% end %>
  <% end %>
<% end %>


<% if current_user.borrowings.exists?(copy_id: @book.copies.ids, returned: true) %>
  <% if !current_user.reviews.exists?(book_id: @book.id) %>
  <h2>Dodaj recenzję:</h2>
  <%= form_with(model: [ @book, @book.reviews.build ], local: true) do |form| %>
    <p>
      <%= form.label :rating, 'Ocena (1-5):' %>
      <%= form.select :rating, options_for_select((1..5).map { |num| [num, num] }) %>
    </p>
    <%= form.submit 'Oceń książkę' %>
    <% end %>
  <% end %>
  <% if current_user.reviews.exists?(book_id: @book.id) %>
  <% user_review = @book.reviews.find_by(user_id: current_user.id) %>
  <p> Twoja ocena: <%= user_review.rating %> </p>
  <%= form_with(model: @review, url: cancel_review_path(@book.reviews.find_by(user_id: current_user.id)),
    method: :delete, 
    data: { turbo_confirm: "Czy jesteś pewien?" }) do |form| %>
  <%= form.submit "Usuń ocenę książki" %>
  <% end %>
  <% end %>
<% end %>


  




<h2>Książka:</h2>
<ul>Tytuł: <%= @book.title%></ul>
<ul>Autor: <%= @book.author%></ul>
<ul>Gatunek: <%= @book.genre%></ul>
<ul>Numer ISBN: <%= @book.isbn%></ul>
<ul>Ilość kopii: <%= @book.copies.count %></ul>
<ul>Opis tytułu:</ul>
<div>
   <%= @book.description%>
</div>


<% if @book.average_rating.present? %>
  <h1>Średnia ocena: <%= @book.average_rating %></h1>
<% else %>
  <h1>Brak recenzji</h1>
<% end %>


<% if current_user.role != "Użytkownik" %>
   <h2>Dodaj kopię książki:</h2>
  <%= form_with model: [ @book, @book.copies.build ] do |form| %>
      <p>
        <%= form.submit "Dodaj kopię" %>
      </p>
  <% end %>
<% end %>




<% if @book.copies.any? %>
  <h1>Kopie książki:</h1>
  <table style="border-collapse: separate; border-spacing: 10px;">
    <thead>
      <tr>
        <th style="border-bottom: 2px solid black;">ID książki</th>
        <th style="border-bottom: 2px solid black;">ID kopii</th>
        <th style="border-bottom: 2px solid black;">Dostępność</th>
        <th style="border-bottom: 2px solid black;">Wypożycz</th>
                <% if current_user.role != "Użytkownik" %> <!-- Dodanie warunku dla kolumny akcji -->
          <th style="border-bottom: 2px solid black;">Usuń </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @book.copies.each do |copy| %>
        <% if copy.persisted? %>
          <tr>
            <td style="border-bottom: 1px solid black;">
              <%= copy.book_id %>
            </td>
            <td style="border-bottom: 1px solid black;">
              <%= copy.id %>
            </td>
            <td style="border-bottom: 1px solid black;">
            <% if copy.borrowed %>
              <div class="red-box"><center>Niedostępna</center></div>
            <% else %>
              <div class="green-box"><center>Dostępna</center></div>
            <% end %>
            </td>
            <td style="border-bottom: 1px solid black;">
              <% if !copy.borrowed %>
                  <%= link_to "Wypożycz", borrow_path(book_id: @book.id, copy_id: copy.id) %>
              <% end %>
            </td>
            <% if current_user.role != "Użytkownik" %> 
              <td style="border-bottom: 1px solid black;">
                <% if !copy.borrowed? %>
                <div>
                  <%= link_to "Usuń", [copy.book, copy], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }  %>
                </div>
              </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>





</body>
