<html>
<head>
<style>
body {
  background-color: #E6E6FA;
}
</style>
</head>
<body>
<ul>Tytuł: <%= @book.title%></ul>
<ul>Autor: <%= @book.author%></ul>
<ul>Gatunek: <%= @book.genre%></ul>
<ul>Numer ISBN: <%= @book.isbn%></ul>
<ul>Liczba wszytskich kopii: <%= @book.total_copies%></ul>
<ul>Liczba dostępnych kopii: <%= @book.available_copies%></ul>

<p><%= link_to "Lista książek", list_path %></p>
<p><%= link_to "Strona główna", welcome_path %></p>

</body>
