
<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
</head>
<body>

<!-- End Page Content -->
<div class="login">
<% if current_user %>
    <p>Hello <%= current_user.username %>!</p>
    <p>
        You have succesfully logged in as a <%= current_user.role%>
    </p>
    
    <% if current_user.Admin?%>
        There are <%= User.count %> users.
    <% end %>

    <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>
    <p>
        You are not signed in
    </p>
    <%= link_to "Sign Up!", new_user_registration_path %>
    <br/>
    <%= link_to "Login", new_user_session_path %>
<% end %>
</div>


<!-- Footer -->



</body>
</html>










