<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Witamy w bibliotece!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application.css" %>
</head>
<body>

<!-- Navbar -->
<div class="top">
  <div class="bar color-granat ">
    <%= button_to "Strona główna", root_path, :method => :get, class: "bar-item button padding-large" %>
    
    <% if current_user %>
      <%= button_to "Panel użytkownika", panel_path, :method => :get, class: "bar-item button padding-large" %>
      <% if current_user.approved == "true" %>
        <%= button_to "Lista książek", list_path, :method => :get, class: "bar-item button padding-large " %>
        <%= button_to "Moje rezerwacje", user_reservations_path, :method => :get, class: "bar-item button padding-large " %>
      <% end %>
      <%= link_to "Wyloguj", destroy_user_session_path, 'data-turbo-method': :delete, class: "bar-item button padding-large right" %>
    <% else %>
      <%= button_to "Zarejestruj się!", new_user_registration_path, :method => :get, class: "bar-item button padding-large right" %>
      <%= button_to "Zaloguj", new_user_session_path, class: "bar-item button padding-large right" %>
    <% end %>
  </div>
</div>

<div class="content" style="max-width:2000px;margin-top:46px">
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
    <div class="container content padding-large" style="max-width:800px">
      <div class="container content center" style="max-width:2000px;margin-top:46px"><h1><b>Twoje wypożyczenia</b></h1></div>

      <div class="borrowed-books">
        <h3>Wypożyczone:</h3>
        <% @borrowed_books.select { |borrowing| !borrowing.returned }.group_by { |b| b.copy.book.title }.each do |title, borrowings| %>
          <h4><%= title %>:</h4>
          <ul>
            <% borrowings.each do |borrowing| %>
              <li>
                <strong>Tytuł: <%= borrowing.copy.book.title %></strong>
                <br>
                <strong>ID: <%= borrowing.copy.id %></strong>
                <br>
                Data wypożyczenia: <%= borrowing.borrow_date %>
                <br>
                Data do zwrotu: <%= borrowing.due_date %>
                <br>
                Zwrócona: <%= borrowing.returned ? 'Tak' : 'Nie' %>
                <br>
                <% if borrowing.due_date > Date.today %>
                  <% if !borrowing.returned && !borrowing.renewal_request? %>
                    <%= form_with(model: [@book, @copy, borrowing], local: true) do |form| %>
                      <%= form.hidden_field :renewal_request, value: 'true' %>
                      <%= form.label :due_date, "Nowa data zwrotu" %>
                      <%= form.date_field :due_date, required: true, min: borrowing.due_date + 1.day, max: (borrowing.due_date + 14.days), value: borrowing.due_date + 1.day, id: 'due_date' %>
                      <div>
                        <%= form.submit "Przedłuż wypożyczenie", data: { turbo_stream_frame: 'reload', turbo_confirm: 'Czy na pewno chcesz przedłużyć wypożyczenie?' }%>
                      </div><br/> 
                    <% end %>
                  <% end %>
                <% else %>
                Czas na przedłużenie minął.
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="returned-books">
        <h3>Zwrócone:</h3>
        <% @borrowed_books.select { |borrowing| borrowing.returned }.group_by { |b| b.copy.book.title }.each do |title, borrowings| %>
          <h4><%= title %>:</h4>
          <ul>
            <% borrowings.each do |borrowing| %>
              <li>
                <strong>Tytuł: <%= borrowing.copy.book.title %></strong>
                <br>
                <strong>ID: <%= borrowing.copy.id %></strong>
                <br>
                Data wypożyczenia: <%= borrowing.borrow_date %>
                <br>
                Data do zwrotu: <%= borrowing.due_date %>
                <br>
                Zwrócona: <%= borrowing.returned ? 'Tak' : 'Nie' %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
